
<h1>Here is your recipe for <%= @recipe.recipe %></h1>

<!-- Delete recipe block -->
<form id="form_id" action="/recipe/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button name="delete">Delete</button>
</form>

<!-- Edit recipe name block -->
<form id="form_id" action="/recipe/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="new_recipe" placeholder=" New recipe name">
  <button name="submit">Submit</button>

</form>

<!-- Add ingredient to recipe block from what is available in the pantry -->







<form action="/recipe/<%= @recipe.id %>/ingredient/new" method="post">
  <select id="ingredient" name="ingredient" type="text">      <!-- from line 97 in app.rb. params fetches from name="ingredients"-->
  <% @ingredients.each do |i| %>
    <option value="<%= i.id %>"><%= i.ingredient %></option>
  <% end %>
  </select>
  <button name="submit">add ingredient</button>
</form>

<ul>
  <% @recipe.ingredients.each do |i| %>
  <li><%= i.ingredient %></li>
  <% end %>
</ul>

<!-- Add instructions block -->
